# environtment
NODE_ENV=development
LEVEL=debug

# application
PORT=3000
BIND=0.0.0.0
ORIGIN=http://localhost:5173
APPLICATION=template-testing

# database
MONGODB_URI=mongodb://root:example@127.0.0.1:27017/template-testing?authSource=admin

# redis
REDIS_URL=redis//127.0.0.1:6379

# jwt
JWT_SECRET=change-me-to-a-long-random-secret-key
JWT_REFRESH_SECRET=change-me-to-another-long-random-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d