# environtment
NODE_ENV=development
LEVEL=debug

# application
PORT=3000
BIND=0.0.0.0
ORIGIN=http://localhost:5173
APPLICATION=template-testing

# database
MONGODB_URI=mongodb://root:example@127.0.0.1:27017/template-testing?authSource=admin